.form-wrapper {
    width: 360px;
    margin: auto;
    position: relative;
}

.form-wrapper .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius:5px;
    z-index: 1
}

.form-wrapper .form-inner {
	width:100%;
	height:100%;
	background: #FFFFFF;
}

.form-wrapper:after, .form-wrapper:before {
	content:'';
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	z-index: -1;
	border-radius:5px;
	transition: all .3s ease;
	box-shadow: inset 0px 1px 1px rgba(255,255,255,.5);
	transform-origin: 50% 200%;
}

.form-wrapper:after {
	background-image: linear-gradient(to top, var(--red-dark), var(--red-light));
	background-color: var(--red-dark);
	transform: translate(10px, 10px) rotate(0deg);
}

.form-wrapper:before {
	background-image: linear-gradient(to top, var(--blue-dark), var(--blue-light));
	background-color: var(--blue-dark);
	transform: translate(-10px, -10px) rotate(0deg);
}

.form-wrapper:hover:before {
	transform: translate(0px, 15px) rotate(-5deg);
}

.form-wrapper:hover:after {
	transform: translate(0px, 15px) rotate(5deg);
}

.title {
	max-width:600px;
	width:100%;
	margin:auto;
	text-align: center;
	font-size:60px;
	color:#fff;
    padding: 30px 0 60px;
}

.title .logo {
	width:320px;
}

.form-wrapper .form label {
	padding: 5px 0;
	display: block;
	text-transform: uppercase;
	font-size:14px;
	letter-spacing: 1px
}

.form-wrapper .form input, .form-wrapper .form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 20px 20px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}

.form-wrapper .form textarea {
	resize: vertical;
	min-height: 100px;
}

.form-row {
	display: flex;
	justify-content: space-between;
	padding:15px 0;
}