header {
	height:120px;
	width:100%;
	display: none;
	justify-content: space-between;
	align-items: center
}

header #menu {
	padding:20px;
	font-size:36px;
	display: none;
	color:#fff;
	cursor: pointer;
}

.logo-wrapper {
  	padding: 20px;
  	display: flex;
	justify-content: center;
}

.logo-wrapper .logo {
	width:190px;
}



@media only screen and (max-width: 1024px) {

header {
    display: flex;
  }

header #menu {
    display: block;
  }

}